Source: misoctl
Maintainer: Ken Dreyer <kdreyer@redhat.com>
Section: python
Priority: optional
Build-Depends:
 debhelper (>= 7.4.3),
 dh-python,
 koji-client,
 python-all,
 python-debian,
 python-pytest,
 python-setuptools
Standards-Version: 3.9.5
X-Python-Version: >=2.7

Package: python-misoctl
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, koji-client
Description: Koji Content Generator for Debian builds
